body{
font-family: 'Roboto Condensed', sans-serif;
margin: 0%;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(41, 147, 247);
    font-size: 75px;
}
h3{
    color: darkgrey;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;

}
p{
    font-family: 'Lato', sans-serif;
}

.flexible-dispaly{
    display: flex;
}

/* Top Banner */
.tb-parents{
    background-color: rgb(244, 247, 253);
    padding: 0px;
}

.tb-child{
    width: 50%;
    padding-top: 150px;
    padding-bottom: 0px;

}
.tb-child h1{
    padding-left: 300px;
    margin: 0px;
}
.tb-child h3{
    padding-left: 300px;  
    margin: 0px; 
}
.tb-child p{
    padding-left: 300px;
    margin: 0px;
}
.tb-child a{
    /* padding-left: 300px; */
}
.child-i{
    
}
.child-ii{
 padding-left: 300px;
}
.child-ii img{
}
.btn-div{
    padding-top: 40px;
}
.tb-chi-btn{
    margin: 0px 300px 300px;
    padding: 10px 30px;
    background-color: rgb(114, 162, 252);
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
/* <!-- personal Details  --> */
.pd-parents h1{
    margin: 0px;

}
.pd-parents h3{
    margin: 0px;

}
.pd-parents p{
    margin: 0px;

}
.pd-parents{

}
.pd-child{
    width: 50%;
}
.pdc-i{
margin-left:250px;
width: 50%;
margin-top: 150px;
margin-bottom: 150px;
}
.pdc-ii{
    padding-left:50px;
    margin: 100px;
}

.pdcii-btn{
    padding-top: 40px;
}
.pd-pdcii-btn{
    margin: 0px ;
    padding: 10px 30px;
    background-color: rgb(114, 162, 252);
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
/* <!-- Offered Services --> */

.offered-serverices{
    background-color: rgb(244, 247, 253);
    padding: 60px 0px;
}
.os-h1{
    font-size: 50px;
    margin: 0px;
    padding-top: 50px 0px;
    text-align: center;
}
.os-child h2{
    text-align: center;
    padding: 0px 30px;
}
.os-parents{
    margin: px;
}
.sub-parents{
    padding: 0px 10%;
}
.os-child{
    width: 33.3333333%;
    padding-bottom: 15px 0px;
    margin: 20px;
    box-shadow: 1px 1px 40px rgb(185, 185, 185);
    border-radius: 20px;

}

.ph-child{
    
}

/* <!-- Project History --> */
.project-history{
    padding: 20px 50px 60px 50px;
}
.project-history h1{
    text-align: center;
}

.ph-child{
    
    width: 50%;
    margin: 00px 50px;
    padding: 00px 50px;
}
.ph-h2{
    font-size: 50px;
    text-align: center;
    margin: 0px;
}
.ph-child p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}


/* footer */
.footer{
    padding: 100px 0px;
    background-color: black;
    color: aliceblue;
}
.ft-parets{
}
.ft-parets span{
    color: coral;
}
.ft-parets h3{
    text-align: center;
}
.ft-parets p{
    text-align: center;
}